<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1><%= "#{current_user.email}'s Account" %></h1>
<p>This is your account page click from the following links.</p>
<ul>
    <li><%= link_to "My Items", my_items_path %></li>
    <li><%= link_to "My Transactions", my_transactions_path %></li>
</ul>
