<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>ACCOUNT</h1>
<p>This is your account page click from the following links.</p>
<%= link_to "My Bids", bids_path %>
<%= link_to "My Items", my_items_path %>
<%= link_to "My Transactions", my_transactions_path %>

