<h1>All Completed Transactions</h1>

<table>
  <thead>
    <tr>
      <th>Item 1</th>
      <th>Item 1's Image</th>
      <th>Item 2</th>
      <th>Item 2's Image</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trades.each do |trade| %>
      <tr>
        <td><%= trade[:user_item].name %>
        <td><%= image_tag(trade[:user_item].item_image.url(:thumb)) %></td>
        <td><%= trade[:other_item].name %>
        <td><%= image_tag(trade[:other_item].item_image.url(:thumb)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
